<nav class="navbar">
  <div class="navbar__container">
    <!-- Hamburger menu icon voor mobiel -->
    <div class="menu-toggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <!-- Overlay voor de achtergrond wanneer menu open is -->
    <div class="menu-overlay" id="menu-overlay" onclick="toggleMenu()"></div>
    
    <ul class="navbar__menu" id="mobile-menu">
      <li><a href="#" onclick="closeMenuAndLoadPage('pages/home.html')">Home</a></li>
      
      <li>
        <a href="#" onclick="closeMenuAndLoadPage('pages/FPE.html')">FPE</a>
      </li>
      <li>
        <a href="#" onclick="closeMenuAndLoadPage('pages/bottleneck-calculator.html')">Bottleneck Calc</a>
      </li>
      <li>
        <a href="#" onclick="closeMenuAndLoadPage('pages/vragenlijst.html')">Vragen Lijst</a>
      </li>
      <li>
        <a href="#" onclick="closeMenuAndLoadPage('pages/FAQ.html')">FAQ</a>
    </li>
      <li>
        <a href="#" onclick="closeMenuAndLoadPage('pages/about-us.html')">About Us</a>
      </li>
      <li>
        <a href="#" onclick="closeMenuAndLoadPage('pages/contact.html')">Contact</a>
      </li>

      <!-- Voeg andere links toe indien nodig -->
    </ul>
  </div>
</nav>
