<nav class="navbar">
  <div class="navbar__container">
    <ul class="navbar__menu">
      <li><a href="#" onclick="loadPageContent('pages/home.html')">Home</a></li>
      
      <li>
        <a href="#" onclick="loadPageContent('pages/FPD.html')">FPD</a>
      </li>
      <li>
        <a href="#" onclick="loadPageContent('pages/BottleneckCalculator.html')">Bottleneck Calc</a>
      </li>
      <li>
        <a href="#" onclick="loadPageContent('pages/about-us.html')"
          >About Us</a>
      </li>
      <li>
        <a href="#" onclick="loadPageContent('pages/contact.html')">Contact</a>
      </li>


      <!--
      <li> <a href="/calculator.html" class="navbar__links"
        >Bottleneck Calculator</a
      ></li>
      -->

      <!-- Voeg andere links toe indien nodig -->
    </ul>
  </div>
</nav>
