<nav class="navbar">
  <div class="navbar__container">
    <!-- Hamburger menu icon voor mobiel -->
    <div class="menu-toggle" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <!-- Overlay voor de achtergrond wanneer menu open is -->
    <div class="menu-overlay" id="menu-overlay" onclick="toggleMenu()"></div>
    
    <ul class="navbar__menu" id="mobile-menu">
      <li><a href="?page=home" onclick="event.preventDefault(); closeMenuAndLoadPage('pages/home.html')">Home</a></li>
      
      <li>
        <a href="?page=FPE" onclick="event.preventDefault(); closeMenuAndLoadPage('pages/FPE.html')">Frame Per Euro</a>
      </li>
      <li>
        <a href="?page=bottleneck-calculator" onclick="event.preventDefault(); closeMenuAndLoadPage('pages/bottleneck-calculator.html')">Bottleneck Calc</a>
      </li>
      <li>
        <a href="?page=vragenlijst" onclick="event.preventDefault(); closeMenuAndLoadPage('pages/vragenlijst.html')">PC Advies</a>
      </li>
      <li>
        <a href="?page=FAQ" onclick="event.preventDefault(); closeMenuAndLoadPage('pages/FAQ.html')">Veelgestelde Vragen</a>
    </li>
      <li>
        <a href="?page=about-us" onclick="event.preventDefault(); closeMenuAndLoadPage('pages/about-us.html')">Over Ons</a>
      </li>
      <li>
        <a href="?page=contact" onclick="event.preventDefault(); closeMenuAndLoadPage('pages/contact.html')">Contact</a>
      </li>

      <!-- Voeg andere links toe indien nodig -->
    </ul>
  </div>
</nav>
